$desktop-size: 1440px;
$primary-color-blue: hsl(223, 87%, 63%);
$secondary-color-pale-blue: hsl(223, 100%, 88%);
$secondary-color-light-red: hsl(354, 100%, 66%);
$neutral-color-gray: hsl(0, 0%, 59%);
$neutral-color-very-dark-blue: hsl(209, 33%, 12%);
$font-size: 20px;
$font-family: 'Libre Franklin';
$small-weight: 300;
$regular-weight: 600;
$big-weight: 700;